{% extends 'admins/adminbase.html' %}

{% block title %}
    Admin Home
{% endblock %}
{% block admin_home %}
    active
{% endblock %}
{% block content %}

    <div class="jumbotron">
        <div class="container">
            <div class="row">
                <marquee behavior="slide" direction="up">
                    <center>
                        <p class="display-5">Welcome Admin</p>
                    </center>
                </marquee>
            </div>
        </div>
    </div>
{% endblock %}