{% extends 'users/userbase.html' %}

{% block title %}
    User Training
{% endblock %}


{% block user_training %}
    active
{% endblock %}
{% block content %}
<style>
    table{
        margin-top: 30%;
    }

    table tr td{
        color: blueviolet;
        font-size: xx-large;
    }
</style>
<center>
<table>
    <h2>resuts of lstm</h2>
    <tr>
        <td>Accuracy:</td>
        <td>{{acc}}</td>
        <td>Loss:</td>
        <td>{{loss}}</td>
    </tr>
    
   
</table>
<table>
    <h2>results of RNN</h2>
    <tr>
        <td>Accuracy:</td>
        <td>{{acc1}}</td>
        <td>Loss:</td>
        <td>{{loss1}}</td>
    </tr>
    
</table>

<section id="intro">

    <div class="intro-text">
<!--        <div class="container" style="margin-top:-200px;">-->

      <p><h3 align="center" style="color:white; font-weight:bold;">Machine Learning Results</h3></p>
<center>

          <table border="2px">
              <tr>

                  <td>Logistic _regression</td><td>{{cr_log|safe}}</td>

              </tr>
              <tr>
                 <td>navie_bayes</td><td>{{cr_nv|safe}}</td><br>

            </tr>
            <tr>
                 <td>decision_tree</td><td>{{cr_dc|safe}}</td><br>
            </tr>
          </table>
</center>
    </div>
  </section>
    
 </center>
{% endblock %}

